.choose-plan-container {
  padding: 25px;

}

.MuiBox-root {
  display: flex;
}

/* ChoosePlan.css */

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MuiBox-root {
  gap: 10px;
}

p {
  text-align: center;
}

.modal-content {
  display: flex;
  align-items: center;
}
/* Button styles */
.modal-content button {
  margin: 10px 10px 0px 0px; /* Add spacing above each button */
  /* width: 100px; */
   /* Set a fixed width for the buttons */
  padding: 10px 20px; /* Add padding inside the buttons */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add border radius */
  background-color: #cc4d44;; /* Set the background color */
  color: white; /* Set the text color */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default underline */
  display: inline-block; /* Make the buttons inline */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition for background color */
}

/* Button hover effect */
.modal-content button:hover {
  background-color: #45a049; /* Darken the background color on hover */
}

/* Choose Payment Method button styles */
.choose-plan-container .center-button button {
  margin-top: 10px; /* Reduce spacing above the button */
  width: 200px; /* Adjust the width of the button */
  height: 75px; /* Adjust the height of the button */
  padding: 10px 20px; /* Adjust padding inside the button */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add border radius */
  background-color: #cc4d44; /* Set the background color to pale red */
  color: white; /* Set the text color to dark red */
  font-weight: bolder;
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default underline */
  display: inline-block; /* Make the button inline */
  font-size: 12x; /* Adjust the font size */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition for background color */
}

.rdeembtn button {
  margin-top: 10px; /* Reduce spacing above the button */
  width: 10px; /* Adjust the width of the button */
  height: 20px; /* Adjust the height of the button */
  border-radius: 5px; /* Add border radius */
  background-color: #cc4d44; /* Set the background color to pale red */
  color: white; /* Set the text color to dark red */
  font-weight: bolder;
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default underline */
  font-size: 12x; /* Adjust the font size */
  display: inline-flex;
}

/* Choose Payment Method button hover effect */
.choose-plan-container .center-button button:hover {
  background-color: #ffcccc; /* Darken the background color on hover */
}

.rdeembtn button:hover {
  background-color: #ffcccc; /* Darken the background color on hover */
}

.center-button {
  text-align: center;
}

.ProceedButton {
  background-color: #BB434D;
  width: 200px;
  height:55px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 1%;
}
.DatagridHolder{
  width:85%;
  display: flex;
  justify-content: center;
}
.ProceedButton:hover {
 cursor:pointer;
}
.AccordianHolder{
  /* display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center; */
  width:100%;
  height:100%;
}
.MainHolder{
  width: 90%;
}
.InnerHolder{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}
.InputHolder{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}
.SubTitleText{
  color: #1c1f25;
  font-size:22px;
  font-weight:100;
  margin-bottom:0px;
  text-align: center;
}
.ForgotInputFieldGeneral {
  width: 300px;
  height:40px;
  margin-top: 0;
  border-radius:5px;
  font-size:18px;
}
.PasswordHolder{
  width: 100%;
  display: flex;
  justify-content: center;
}

.ForgotInputFieldGeneral:focus {
 outline:none;
}
.TitleText{
  font-size:35px;
  color: #1c1f25;
  margin-bottom:0px;
  font-weight:100;
  margin-left: 20px;
}
.InputTitle {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
}
.InputTitleIcon {
  color:  #1c1f25;
  font-size: 20px;
  margin-right:2.5%;
}
.InputTitleText {
  color:  #1c1f25;
  font-size: 20px;
  font-weight:00;
}
.RedeemCode{
  width:100%;
  margin-top:0px;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}
.statusHolder{
  height: 200px;
  margin-top:0px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
  align-items:center;
  border-bottom: 1px solid rgb(0,0,0,0.2);
}
.CheckIcon{
font-size: 50px;
color: green;
}
.CheckIcon2{
font-size: 50px;
color: red;
}
.statusBackground{
width: 500px;
height: 200px;
background-color: #1c1f25;
opacity: 0.5;
position: absolute;
}
@media (max-width: 767px) {
  display: grid;
  justify-content: center;
  place-content: center;
  align-items: center;

.noData{
  margin-top: 20%;
}
  .ProceedButton{
    margin-left: 0%;
  }
  .MainHolder{
  width: 350px;
}
  .TableHolder{
    width:350px;
    overflow-x: auto;
  }
  .TitleText{
      color: #1c1f25;
      margin-bottom:0px;
      padding-left:0px;
      text-align:center;
  }
  .RedeemCode{
      width:100%;
      padding-left:0px;
  }
  .SubTitleText{
      color: #1c1f25;
      font-size:22px;
      font-weight:100;
      margin-bottom:0px;
  }
}