.choose-plan-container {
  padding: 25px;

}

.MuiBox-root {
  display: flex;
}

/* ChoosePlan.css */

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MuiBox-root {
  gap: 10px;
}

p {
  text-align: center;
}

.modal-content {
  display: flex;
  align-items: center;
}
/* Button styles */
.modal-content button {
  margin-top: 10px; /* Add spacing above each button */
  width: 100px; /* Set a fixed width for the buttons */
  padding: 10px 20px; /* Add padding inside the buttons */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add border radius */
  background-color: #cc4d44;; /* Set the background color */
  color: white; /* Set the text color */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default underline */
  display: inline-block; /* Make the buttons inline */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition for background color */
}

/* Button hover effect */
.modal-content button:hover {
  background-color: #45a049; /* Darken the background color on hover */
}

/* Choose Payment Method button styles */
.choose-plan-container button {
  margin-top: 10px; /* Reduce spacing above the button */
  width: 200px; /* Adjust the width of the button */
  height: 75px; /* Adjust the height of the button */
  padding: 10px 20px; /* Adjust padding inside the button */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add border radius */
  background-color: #cc4d44; /* Set the background color to pale red */
  color: white; /* Set the text color to dark red */
  font-weight: bolder;
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default underline */
  display: inline-block; /* Make the button inline */
  font-size: 12x; /* Adjust the font size */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition for background color */
}

/* Choose Payment Method button hover effect */
.choose-plan-container button:hover {
  background-color: #ffcccc; /* Darken the background color on hover */
}

.center-button {
  text-align: center;
}

